/node_modules/
/public/build/
.pem
.DS_Store

.vercel

# Ignore SSH keys
*.pem

# Terraform local state & caches
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.*
# Terraform local files
.terraform/
terraform/.terraform/
*.tfstate
*.tfstate.*

# Private keys
*.pem

.env